  /* Build  a  webpage  that  combines  pseudo-classes  and  pseudo-elements  —  for  example, 
changing the color of the ::first-letter only on :hover of a paragraph */
  
  p:hover::first-letter {
      color: #e10c17;
      font-size: 50px;
  }